html {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: left;
}

#introducao {

}

a:visited, a:link {
    color: black;
}

a:active{
    color: red;
}

a:hover {
    color: blue;
}

nav {
    text-align: right;
    height: 25px;
    background-color: rgb(255, 136, 0);
    padding: 25px;
    letter-spacing: 1px;
    word-spacing: 3px;
    border:2px solid;
}

.walison {
    text-align: left;
    font-size: xx-large;
}

.lightbase{
    float:right;
    margin: 0px 10px;
}

.trabalho {
    text-align: left;
    width: 900px;
    height: 400px;
    margin: 0px 0px 100px 0px;
}
#redesociais{
    text-align: center;
    margin: 10px;
    letter-spacing: 10px;
}

.copyright {
    text-align: center;
}

#form {
    text-align: left;
}

#rodape {
    height: 50px;
    background-color: rgb(255, 136, 0);
    font-style:oblique;
    padding: 0px 0px 5px 0px;
    text-align:center;
    letter-spacing: 2px;
    word-spacing: 5px;
}

.walison{
    float: left;
    width: 300px;
    height:300px;
}


